<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <system.serviceModel>

    <services>
      <service name="RestService.RestServiceImplementation">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RestService.svc" />
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="basicHttpBinding" contract="RestService.IRestServiceImplementation" />
      </service>
    </services>
    
    <!--<appSettings>
      <add key="serviceUrl" value="http://localhost:4321/RestService.svc"/>
    </appSettings>-->

  </system.serviceModel>
</configuration>